@import '../../assets/styles/vars.scss';

.sorting {
  margin: 20px 0px 20px 0px;

  select {
    width: 188px;
    color: $textColor;
    background-color: $bgSelectColor;
    border-radius: 8px;
    padding: 7px 10px;
  }
}
