@import '../../assets/styles/vars.scss';

.account {
  flex: 1 1 auto;

  &__container {
    @extend %container;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 22px;
  }
}
